<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="section-heading text-center">Välkommen, helt enkelt!</h2>
                <p class="text-muted text-left">Contribe är en leverantör inom systemutveckling, test/verifiering och verksamhetsutveckling. En snabbt växande skara IT-konsulter med ett och samma mål – att ge våra kunder tillgång till smarta sätt att effektivisera och eliminera krångel i vardagen.</p><p class="text-muted section-subheading">Contribe är din expertresurs, din kollega och din leverantör – när och så länge du behöver det. Vi vet att vår prestigelösa attityd smittar av sig på kunder och nya medarbetare. Det blir ofta så när man trivs ihop och ser resultat. Vi är en tribe, en stam, och du är varmt välkommen in i gemenskapen.</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4 col-sm-12">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-eye fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Vision</h4>
                <p class="text-muted text-left">Vi ska vara en särskilt engagerad IT-partner, en som förenklar kundernas framtid. Vi förstår deras behov och når hela vägen fram genom att lyssna på det som inte sägs och se det som inte visas. Contribe ska vara en förebild och en drömarbetsplats.</p>
            </div>
            <div class="col-md-4 col-sm-12">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Mission</h4>
                <p class="text-muted text-left">Vi bjuder in våra kunder i vår stam och tar del av deras kultur. Öppna sinnen tänker bäst. Contribe är en prestigelöst jordnära IT-partner och en arbetsgivare som attraherar passionerade och kompetenta människor. Vi sätter riktningen för företagets och individens framtid tillsammans.</p>
            </div>
            <div class="col-md-4 col-sm-12">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-thumbs-o-up fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Värdeord</h4>
                <p class="text-muted">Glädje - Passion - Mod - Enkelhet</p>
            </div>
        </div>
    </div>
</section>