<!-- Blog Section -->
<section id="blog">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 divider-box fill blogBG">
            <h4 class="offer-heading offer-heading-blog">NYHETER</h4>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 blog-data divider-box">
            {% for post in site.categories.blog %}
            <div>
                <a href="#portfolioModal{{ post.modal-id }}" data-toggle="modal"><p><strong>{{ post.date | date: "%Y-%m-%d" }}</strong> | {{ post.title }}</p></a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>