<!-- Clients Aside -->
    <section id="clients" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Övriga Kunder</h2>
                </div>
            </div>
            <div class="row" style="margin-top: 75px;">
                <div class="col-md-6 col-sm-6">
                        <img src="img/logos/cargotec.png" class="img-responsive img-centered" alt="">
                </div>
                <div class="col-md-6 col-sm-6">
                        <img src="img/logos/playngo.png" class="img-responsive img-centered" alt="">
                </div>
            </div>
        </div>
    </section>