<!-- Clients Aside -->
    <section id="clients" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Övriga Kunder</h2>
                </div>
            </div>
            <div class="row" style="margin-top: 75px;">
                <div class="col-md-3 col-sm-6">
                    <img src="img/logos/kalmar.png" class="img-responsive img-centered clientLogo" alt="kalmar logo">
                </div>
                <div class="col-md-3 col-sm-6">
                    <img src="img/logos/volvo.png" class="img-responsive img-centered clientLogo" alt="volvo logo">
                </div>
                <div class="col-md-3 col-sm-6">
                    <img src="img/logos/playngo.png" class="img-responsive img-centered clientLogo" alt="play n go logo">
                </div>
                <div class="col-md-3 col-sm-6">
                    <img src="img/logos/hm.png" class="img-responsive img-centered clientLogo" alt="h and m logo">
                </div>
            </div>
            <div class="row" style="margin-top: 75px;">
                <div class="col-md-3 col-sm-6">
                    <img src="img/logos/scania.png" class="img-responsive img-centered clientLogo" alt="scania logo">
                </div>
                <div class="col-md-3 col-sm-6">
                    <img src="img/logos/fortnox.png" class="img-responsive img-centered clientLogo" alt="fortnox logo">
                </div>
                <div class="col-md-3 col-sm-6">
                    <img src="img/logos/comhem.png" class="img-responsive img-centered clientLogo" alt="comhem logo">
                </div>
                <div class="col-md-3 col-sm-6">
                    <img src="img/logos/ericsson.png" class="img-responsive img-centered clientLogo" alt="ericsson logo">
                </div>
            </div>
        </div>
    </section>