<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2 class="section-heading">Kontakta Oss</h2>
                <h3 class="text-muted">Här hittar du våra tribes idag</h3>
            </div>
            {% for office in site.offices %}
            <div class="col-md-3 col-sm-6 section-heading team-member">
                <h3 class="section-heading">{{office.name}}</h3>
                <img src="img/team/{{ office.pic }}.jpg" class="img-responsive img-circle" alt="{{ office.contact_person }}">
                <strong>Kontaktperson: </strong><br>
                {{ office.contact_person }}<br>
                Mobil: {{office.mobile}}<br>
                <a href="{{office.email_url}}">E-post</a>
                <br>
                <br>
                <address>
                Besöksadress: {{office.street}}<br>
                {{office.zip_city}}
                </address>
                {% if office.post_street == "Box 2317" %}
                <address>
                Postadress: {{office.post_street}}<br>
                {{office.post_city}}
                </address>
                {% else %}
                {% endif %}
            </div>
            {% endfor %}
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="list-inline social-buttons-contact">
                    {% for network in site.social %}
                    <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
