<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Kontakta Oss</h2>
                    <h3 class="text-muted">Vi har Tribes i fyra städer runt om Sverige</h3>
                </div>
                <div class="col-md-3 col-sm-6 section-heading">
                    <h3 class="section-heading">Karlskrona</h3>
                    <h4 class="section-heading">Huvudkontoret</h4>
                    Kontakt Person: Carin Håkansson<br>
                    Mobil: 0708 – 225 377<br>
                    <a href="mailto:carin.hakansson@contribe.se">E-post</a>
                    <br>
                    <br>
                    <address>
                    Besöksadress: Borgmästaregatan 18<br>
                    371 34 Karlskrona
                    </address>
                </div>
                <div class="col-md-3 col-sm-6 section-heading">
                    <h3 class="section-heading">Göteborg</h3>
                    Kontaktperson: Mattias Fredriksson<br>
                    Mobil: 0708 – 186 186<br>
                    <a href="mailto:mattias.fredriksson@contribe.se">E-post</a>
                    <br>
                    <br>
                    <address>
                    Besöksadress: Södra Larmgatan 2<br>
                    41116 Göteborg
                    <br>
                    <br>
                    Postadress: Box 2317<br>
                    403 15 Göteborg
                    </address>
                </div>
                <div class="col-md-3 col-sm-6 section-heading">
                    <h3 class="section-heading">Stockholm</h3>
                    Kontaktperson: Mikael Strömberg<br>
                    Mobil: 0708 – 777 228<br>
                    <a href="mailto:mikael.stromberg@contribe.se">E-post</a>
                    <br>
                    <br>
                    <address>
                    Besöksadress: Gamla Brogatan 29<br>
                    111 20 Stockholm
                    </address>
                </div>
                <div class="col-md-3 col-sm-6 section-heading">
                    <h3 class="section-heading">Växjö</h3>
                    Kontaktperson: Marcus Nilsson<br>
                    Mobil: 0705 – 270 100<br>
                    <a href="mailto:marcus.nilsson@contribe.se">E-post</a>
                    <br>
                    <br>
                    <address>
                    Besöksadress: Reveljgränd 5<br>
                    352 36 Växjö
                    </address>
                </div>
            </div>
            <!--
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="text-muted">Eller för allmänna frågor, fyll i formuläret:</h3>
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Namn *" id="name" required data-validation-required-message="Ange ditt namn.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="E-post *" id="email" required data-validation-required-message="Ange ditt e-post.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Telefon *" id="phone" required data-validation-required-message="Ange ditt telefonnummer.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Ditt Meddelande *" id="message" required data-validation-required-message="Skriv ett meddelande."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Skicka</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        -->
        </div>
    </section>