<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2 class="section-heading">Kontakta Oss</h2>
                <h3 class="text-muted">Vi har Tribes i fyra städer runt om Sverige</h3>
            </div>
            <div class="col-md-3 col-sm-6 section-heading">
                <h3 class="section-heading">Karlskrona</h3>
                Kontaktperson: Roger Gordin<br>
                Mobil: 0768 – 654 650<br>
                <a href="mailto:roger.gordin@contribe.se">E-post</a>
                <br>
                <br>
                <address>
                Besöksadress: Borgmästaregatan 18<br>
                371 34 Karlskrona
                </address>
            </div>
            <div class="col-md-3 col-sm-6 section-heading">
                <h3 class="section-heading">Göteborg</h3>
                Kontaktperson: Mattias Fredriksson<br>
                Mobil: 0708 – 186 186<br>
                <a href="mailto:mattias.fredriksson@contribe.se">E-post</a>
                <br>
                <br>
                <address>
                Besöksadress: Södra Larmgatan 2<br>
                41116 Göteborg
                <br>
                <br>
                Postadress: Box 2317<br>
                403 15 Göteborg
                </address>
            </div>
            <div class="col-md-3 col-sm-6 section-heading">
                <h3 class="section-heading">Växjö</h3>
                Kontaktperson: Marcus Nilsson<br>
                Mobil: 0705 – 270 100<br>
                <a href="mailto:marcus.nilsson@contribe.se">E-post</a>
                <br>
                <br>
                <address>
                Besöksadress: Reveljgränd 5<br>
                352 36 Växjö
                </address>
            </div>
            <div class="col-md-3 col-sm-6 section-heading">
                <h3 class="section-heading">Malmö</h3>
                Kontaktperson: Roger Gordin<br>
                Mobil: 0768 – 654 650<br>
                <a href="mailto:roger.gordin@contribe.se">E-post</a>
                <br>
                <br>
                <address>
                Besöksadress: Övägen 8<br>
                216 43 Limhamn, Malmö
                </address>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="list-inline social-buttons-contact">
                    {% for network in site.social %}
                    <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
