<!-- Contribute Section -->
<section id="contribute" class="tableify">
    <div class="row ">
        <div class="col-lg-6 bg-darkest-gray">
          <img class="internet-camp" src="img/blog/internetCamp.jpg" />
        </div>
        <div class="col-lg-6 bg-darkest-gray negative standard-padding">
            <h2 class="section-heading">Vi vill göra skillnad</h2>
            <p>Vårt bolagsnamn är inte bara byggt för att koppla till tribes och gemenskap. I Contribe finns också släktskapet med det fina och viktiga ordet contribute – att bidra. Vi engagerar oss vi vill bidra till positiv utveckling av samhället i allmänhet och till att maximera de digitala möjligheterna för unga i synnerhet.....</p><p>Här kan du läsa mer om de satsningar vi hittills gjort:  <a href="https://www.facebook.com/InternetCampSweden/?fref=ts" target="_blank"> Internet Camp</a></p>
        </div>
    </div>
</section>
