<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"><img class="img-responsive logoHeader" src="img/contribe-logo.png" alt="contribe logo"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Om Oss</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#expertise">Kompetenser</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolj</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#clients">Kunder</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#blog">Blogg</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Kontakt</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url('img/header-bg.jpg');">
                    <div class="intro-text">
                        <div class="intro-heading">Välkommen till Contribe</div>
                        <div class="intro-lead-in">vi förenklar framtiden</div>
                        <a href="#services" class="page-scroll btn btn-xl">Läs Mer</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url('img/jobs-bg.jpg');">
                    <div class="intro-text">
                        <div class="intro-heading">Vi Söker Folk!</div>
                        <div class="intro-lead-in">lead developer, javautvecklare, .net-utvecklare och webbutvecklare.</div>
                        <a href="#services" class="page-scroll btn btn-xl">Läs Mer</a>
                    </div>
                </div>
            </div>
        </div>


        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>
    <!--
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Välkommen till Contribe</div>
                <div class="intro-lead-in">vi förenklar framtiden</div>
                <a href="#services" class="page-scroll btn btn-xl">Lära Mer</a>
            </div>
        </div>
    </header>-->
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

