<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top"><img class="img-responsive logoHeader" src="img/contribe-logo-white.png" alt="contribe logo"></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">Om Oss</a>
                </li>
                <li>
                    <a class="page-scroll" href="#values">Värdeord</a>
                </li>
                <li>
                    <a class="page-scroll" href="#offer">Erbjudande</a>
                </li>
                <li>
                    <a class="page-scroll" href="#portfolio">Kunduppdrag</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contribute">Contribution</a>
                </li>
                <li>
                    <a class="page-scroll" href="#blog">Nyheter</a>
                </li>
                <li>
                    <a href="http://jobb.contribe.se">Jobb</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Kontakt</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header>
    <div id="myCarousel" class="carousel slide carousel-fade carouselBG" data-ride="carousel" data-interval="5000">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill mainBG">
                    <div class="intro-text">
                        <div class="intro-heading animated fadeInDown">Join the tribe!</div>
                        <div class="intro-lead-in animated fadeInLeft">IT-Konsulterna som förenklar framtiden</div>
                        <a class="page-scroll" href="#about"><div class="intro-lead-in-link animated fadeInUp">Läs Mer</div></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="fill secondBG">
                    <a class="page-scroll" href="#about">
                    <div class="intro-text">
                        <!--div class="intro-heading animated fadeInDown">Join the tribe!</div-->
                        <!--div class="intro-lead-in animated fadeInLeft">IT-konsulterna som vågar mer</div-->
                        <!--a class="page-scroll" href="#about"><div class="intro-lead-in-link animated fadeInUp">Läs Mer</div></a-->
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</header>
