<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top"><img class="img-responsive logoHeader" src="img/contribe-logo.png" alt="contribe logo"></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">Om oss</a>
                </li>
                <li>
                    <a class="page-scroll" href="#offer">Erbjudande</a>
                </li>
                <li>
                    <a class="page-scroll" href="#portfolio">Kunduppdrag</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contribution">Contribution</a>
                </li>
                <li>
                    <a class="page-scroll" href="#team">Ledning</a>
                </li>
                <li>
                    <a class="page-scroll" href="#blog">Nyheter</a>
                </li>
                <li>
                    <a class="page-scroll" href="#jobs">Jobb</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Kontakt</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header>
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill secondBG">
                    <div class="intro-text">
                        <div class="intro-heading">VÄLKOMMEN TILL VÅR TRIBE!</div>
                        <a href="#jobs" class="page-scroll btn btn-xl">Lediga Tjänster</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="fill mainBG">
                    <div class="intro-text">
                        <div class="intro-heading">Välkommen till Contribe</div>
                        <div class="intro-lead-in">IT-Konsulterna som förenklar framtiden</div>
                        <a href="#about" class="page-scroll btn btn-xl">Läs Mer</a>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </div>
</header>
