<!-- Jobs Section -->
<section id="jobs" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Jobba på Contribe</h2>
                <h3 class="section-subheading text-muted">Vi vill vara det självklara valet för dig som vill utvecklas i din yrkesroll!</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-10 col-md-offset-1">
                <p class="large text-muted">Vi vill att våra medarbetare har höga krav både på sig själva och på oss som arbetsgivare. När man arbetar på Contribe ska man känna sig sedd och man ska aldrig behöva bli en i mängden. Vi har korta beslutsvägar och högt i tak. Vi tar väl hand om våra konsulter och eftersom vi är ett tjänsteföretag så är det våra medarbetare som utgör själva företaget. Därför vill vi också att våra medarbetare ska vara med och påverka vår framtida utveckling. Som anställd ska det alltid kännas självklart att komma med förbättringsförslag oavsett vad det gäller. Vi ser också till att träffas regelbundet och hittar ofta på roliga aktiviteter tillsammans.På Contribe anser vi att lärande och kompetensutveckling är viktigt för våra medarbetare och organisationen som helhet. Vi arbetar därför aktivt med att utveckla våra medarbetare på nya innovativa sätt.</p><br>
				<p class="large text-muted">För närvarande har vi kontor i Karlskrona, Stockholm, Göteborg och Växjö men vi expanderar kontinuerligt och kommer att etablera oss på fler orter.</p>
            </div>
        </div>
        <div class="col-md-10 col-md-offset-1 text-center">
            <h3 class="section-heading">Lediga Tjänster</h3>
            {% for post in site.categories.jobs limit: 3 %}
            <div class="col-md-4 col-md-offset-4 col-sm-12 blog-data">
                <div>
                    <a href="#portfolioModal{{ post.modal-id }}" data-toggle="modal"><h4>{{ post.title }}</h4></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>