 <!-- Portfolio & Blog Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-sm-12">
                    <div class="text-left">
                        <h2 class="postHeading text-center">{{ post.title }}</h2>
                        <hr class="star-primary">
                        {% if post.category == "portfolio" %}
                        <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                        {% elsif post.category == "blog" %}
                        <p class="text-left"><strong>{{ post.date | date: "%Y-%m-%d" }}</strong></p>
                        {% endif %}
                        {{ post.content }}
                        {% if post.category == "portfolio" %}                            
                        <ul class="list-inline item-details text-center">
                            <li>Klient:
                                <strong>{{ post.client }}</strong>
                            </li>
                            <li>Datum:
                                <strong>{{ post.project-date }}</strong>
                            </li>
                            <li>Tjänst:
                            {% for service in post.service %}
                                <strong>{{ service }} </strong>
                            </li>
                            {% endfor %}
                            {% endif %}                            
                        </ul>
                    </div>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Stäng</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
