<!-- Offer Section -->
<section id="offer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Förenkling på tre sätt</h2>
                <h3 class="section-subheading text-muted">Vi på Contribe erbjuder tre typer av IT-tjänster. Det betyder också tre olika karriärmöjligheter för dig som vill jobba hos oss. Vi jobbar främst inom områdena Java, C#, .NET och webb.</h3>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="col-md-4 col-sm-12 divider-box fill offer-left">
                <h4 class="offer-heading">Contribe Consulting</h4>
                <p>Framtidsförenklaren från Contribe sitter ute hos kund som konsult.</p>
                <br/>
                <ul>
                    <li>Rätt person vid rätt tid och på rätt plats</li>
                    <li>Systemutvecklare med kompetens i de senaste teknologierna</li>
                    <li>Certifierade testare och testledare</li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-12 divider-box fill offer-right">
                <h4 class="offer-heading">Contribe IT Solutions</h4>
                <p>Vi tar fram en specifik lösning för vår kund – från ax till limpa. Det kan till exempel vara en app för köp eller offertskapande.</p>
                <br/>
                <ul>
                    <li>Kompletta webbprojekt</li>
                    <li>Smarta mobila lösningar</li>
                    <li>Webbanalys</li>
                    <li>Socialt mobilt intranät med apputveckling</li>
                </ul> 
            </div>
            <div class="col-md-4 col-sm-12 divider-box fill offer-center">
                <h4 class="offer-heading">Contribe Outsourcing</h4>
                 <p>Vår tribemedlem tar med uppdraget tillbaka till ett av våra kontor och levererar en färdig lösning till kund.</p>
                 <br/>
                <ul>
                    <li>Vi tar helhetsansvar för leveransen</li>
                    <li>Dynamiska utvecklingsteam</li>
                    <li>Agil metodik</li>
                    <li>Nyutveckling</li>
                    <li>Förvaltning</li>
                </ul>     
            </div>
        </div>
</section>