<!-- All posts -->
<div class="portfolio-modal modal fade" id="allPosts" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Alla Blogginlägg</h2>
                        <hr class="star-primary">
                        {% for post in site.categories.blog %}
                    	<div class="col-md-6 col-md-offset-3 col-sm-12 blog-data">
		                    <div>
		                        <a href="#portfolioModal{{ post.modal-id }}" data-toggle="modal" data-dismiss="modal"><h4>{{ post.title }}</h4></a>
		                        <p class="text-muted"><i class="fa fa-calendar-o fa-fw"></i>&nbsp; {{ post.date | date: "%d-%m-%Y" }}</p>
		                    </div>
	                	</div>
	            		{% endfor %}
                        <div class="col-md-6 col-md-offset-3 col-sm-12 blog-data">
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Stänga</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
