<!-- values Section -->
<section id="values">

  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Våra Värdeord</h2>
        <h3 class="section-subheading text-muted">Fyra ord som beskriver oss</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 value-words joy">
        <h4>Glädje</h4>
        <div class="">
          <p>Vi känner glädje i det vi gör, vi är stolta över att vara Contribemedarbetare.</p>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 value-words simplicity">
        <h4>Enkelhet</h4>
        <div class="">
          <p>Vi tror på oss själva och behöver inte bygga upp några fasader. Vi slänger oss inte med svåra ord för att verka viktiga utan vi pratar så att alla förstår.</p>
        </div>
      </div>

    </div>
    <div class="row">

      <div class="col-lg-6 col-md-6 value-words passion">
        <h4>Passion</h4>
        <div class="">
          <p>Vi brinner för vårt arbete, vi går inte till jobbet för att man måste utan för att vi verkligen vill. Vårt arbete är inte bara ett jobb utan en livsstil som vi ständigt utvecklas inom.</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 value-words courage">
        <h4>Mod</h4>
        <div class="">
          <p>Vi vågar tänka utanför boxen och tillsammans hittar vi nya vägar och metoder.</p>
        </div>
      </div>

    </div>
  </div>
</section>
