<footer class="site-footer">

  <div class="wrapper">


    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><h2 class="footer-heading">IT-mästerskapen i brännboll</h2></li>
          <li><a href="mailto:markus.nilsson@contribe.se">markus.nilsson@contribe.se</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li>
            <a href="http://www.facebook.com/contribe"><img class="fb" src="/img/brannboll/FB-f-Logo__blue_50.png"></a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>Contribe anordnar för första gången IT-mästerskapen i brännboll.</p>
      </div>
    </div>

  </div>

</footer>
