<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}
    {% include about.html %}
    {% include offer.html %}
    {% include portfolio.html %}
    {% include team.html %}
    {% include blog.html %}
    {% include jobs.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include posts.html %}
    {% include js.html %}
    {% include google_analytics.html %}

    </body>
</html>