<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}
    {% include about.html %}
    {% include values.html %}
    {% include offer.html %}
    {% include portfolio.html %}
    {% include contribute.html %}
    {% include blog.html %}
    {% include contact.html %}
    {% include instagram.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}
    {% include scripts.html %}

    </body>
</html>